@charset "utf-8";
/*css document*/
body{overflow-x:hidden;}
.container{max-width:100%; min-width:300px; margin:0 auto;}
header{max-width:100%; min-width:300px; background:#333; z-index:1000;}
.header .logo,.header nav{float: left;}
.nav{width:100%;}
.nav li{float:left; width:25%; background:#333; line-height:30px; text-align:center;}
.nav li a{font-size:1.4em; color:#ccc; }
.nav li:hover{background:#5C5C5C;}
.Biaoyu,.pop_menu{float:left;}
.Biaoyu{width:35%; text-align:center; line-height:63px; color:red; font-size:2em; font-family: "微软雅黑";}
.Biaoyu,.pop_menu{display:inline-block;}
.pop_menu{position:absolute; width:30px; height:30px; right:5%; top:20px;}
.pop_menu a{display:block;}




.service ul li>a{display: block; width:56px; height:60px;}
.service ul li:nth-of-type(1)>a{background:url(../images/service_1_1.jpg) no-repeat center;}
.service ul li:nth-of-type(2)>a{background:url(../images/service_2_1.jpg) no-repeat center;}
.service ul li:nth-of-type(3)>a{background:url(../images/service_3_1.jpg) no-repeat center;}
.service ul li:nth-of-type(4)>a{background:url(../images/service_4_1.jpg) no-repeat center;}

.service ul li:nth-of-type(1):hover>a{background:url(../images/service_1_2.jpg) no-repeat center;}
.service ul li:nth-of-type(2):hover>a{background:url(../images/service_2_2.jpg) no-repeat center;}
.service ul li:nth-of-type(3):hover>a{background:url(../images/service_3_2.jpg) no-repeat center;}
.service ul li:nth-of-type(4):hover>a{background:url(../images/service_4_2.jpg) no-repeat center;}


li{overflow:hidden; position:relative; cursor:pointer;}
.service>h2,.course>h2,.campus>h2,.works>h2,
.star>h2{width:100%; margin-top:30px; margin-bottom:47px; font-weight:normal;}
.employment>h2{width:100%; margin-top:30px; margin-bottom:30px; font-weight:normal;}
   /*  campus  */
.campus li a{display: block;}
.campus li div{width:100%;}

.campus li div h3{color:#333; font-size: 18px; margin-top:20px; cursor:pointer;}
.campus li:hover div h3{color:#fa9634;}
.campus li div p{color: #888;  font-size: 14px; margin-top: 8px;}


footer{width:100%; background:#333;}
.footer ul{padding-top:40px; padding-bottom:59px;}
.footer ul li:last-of-type p:last-of-type{line-height:26px;}

     /* 宽屏下的hover */
.course li img{display: block;}
.course li:nth-of-type(2n) div{background:#fa9634;}
.course li:nth-of-type(2n+1) div{background:#90c166;}
.course li div{
	width:270px; 
	height:185px; 
	color:#fff; 
	position:absolute; 
	left:0; top:0; 
	padding:15px 36px 0 25px; 
	opacity:0; 
	transition:all .3s ease-in-out .2s; 
}
.course li div h2{font-size:24px; line-height:50px;}
.course li div p{font-size:14px;}
.course li:hover div{opacity:1;}

.works li div{
	width:200px;
    height:200px;
    position:absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background: #fa9634;
    color: #fff;
    text-align: center;
    opacity:0; 
    transition:all .3s ease-in-out .2s;
}
.works li:hover div{opacity: 0.9;}
.works li div h4{
	font-size: 24px;
    margin-top: 46px;
}
.works li div p{
	font-size: 18px;
    margin-top: 22px;
}
.works li div p span{
	display: block;
    margin-top: 27px;
}

.star ul li div{
	width:244px;
    height:200px;
    position:absolute;
    left:0;
    top:0;
    background:#90c166;
    color:#fff;
    text-align:center;
    opacity:0;
    transition:all .3s ease-in-out .2s;
}
.star ul li:hover div{opacity:0.9;}
.star ul li div p{font-size:18px; margin-top:51px;}
.star ul li div p span{display:block; margin-top:18px;}
.star ul li div h4{font-size:24px; margin-top:20px;}






    /* 最大屏幕*/
@media only screen and (min-width:1000px ) {
	.header{width:1000px; margin:0 auto;}
	.header .logo{width:171px; float:left; margin-right:77px;}
	.header .logo a{display:block; padding:10px 0;}
	.header>nav>ul li{float:left; height:80px; line-height:80px; width:94px;}
	.header>nav>ul li a{display:block; text-align:center; color:#fff; font-size:1.4em;}
	.header>nav>ul li a:hover{background:#5c5c5c;}
	.header>nav>ul li.active{display:block; width:65px; text-align: center;}
	.header>nav>ul li.color{ background:#5c5c5c;}
	.Biaoyu,.pop_menu{display:none;}
	
	.service>h2,.course>h2,.campus>h2,.works>h2,
	.star>h2,.employment>h2{height:47px; line-height:47px; font-size:3.6em;}
	
	   /*  service  */
	.service{width:1000px; margin:0 auto;}
	.service li{float:left; width:235px; margin-right:20px;}
	.service li:nth-of-type(4){margin-right:0;}
	.service li a{display:block; margin-right:20px; float:left; height:60px;}
	.service li div{float:left;}
	.service li div h3{height:40px; line-height:40px; font-size:2.2em;}
	.service li div p{height:20px; line-height:20px; font-size:1.4em;}
	.service ul li{padding-bottom:20px; border-bottom:4px solid #fff; cursor:pointer;}
	.service ul li:hover{border-bottom-color:#FA9634;}
	   /*  course  */
  	.course{width:1000px; margin:0 auto;}
  	.course ul li{width:33%; height:200px; float:left; border:1px solid #ccc; cursor:pointer;}
  	.course ul li:nth-of-type(5){border:0;}
  	.course ul li:nth-of-type(2),.course ul li:nth-of-type(8){
  		border-left:0;
  		border-right:0;
  	}
  	.course ul li:nth-of-type(4),.course ul li:nth-of-type(6){
  		border-top:0;
  		border-bottom:0;
  	}
  	
  	      /*  campus  */
  	.campus{width:1000px; margin:0 auto;}
  	.campus h2 a{
  		display:inline-block;
		float:right;
		margin-right:5%;
		font-size:18px;
		color:#fa9634;
  	}
  	.campus li{width:32%; float:left; margin-right:2%;}
  	.campus ul li.qu{margin-right:0;}
  	.campus li:nth-of-type(1),.campus li:nth-of-type(2),
  	.campus li:nth-of-type(3){margin-bottom:40px;}
  	.campus li div h3{margin-top:20px;}
	.campus li div p{margin-top: 8px;}
	
			/*  works  */
	.works{width:1000px; margin:0 auto;}
	.works li{width:20%; float:left;}
	.works ul li img{display:block;}
	     /*  star  */
	.star{width:1000px; margin:0 auto;}	
	.star ul li{height:200px; float:left; width:24.25%; margin-right:1%; margin-bottom:10px; height:200px;}
	.star ul li img{display:block;}
	.star ul li:nth-of-type(4),.star ul li:nth-of-type(8),
	.star ul li:nth-of-type(12){margin-right:0;}
	.star ul li:nth-of-type(9),.star ul li:nth-of-type(10),.star ul li:nth-of-type(11),
	.star ul li:nth-of-type(12){margin-bottom:0;}
	    /*  employment  */
	.employment{width:1000px; margin: 0 auto 40px auto;}
	.employment li{width:15%; float:left; margin-right:2%; margin-bottom:15px;}
	.employment li img{display:block;}
	.employment li:nth-of-type(6),.employment li:nth-of-type(12),
	.employment li:nth-of-type(18){margin-right:0;}
	.employment li:nth-of-type(13),.employment li:nth-of-type(14),
	.employment li:nth-of-type(15),.employment li:nth-of-type(16),
	.employment li:nth-of-type(17),.employment li:nth-of-type(18){margin-bottom:0px;}
	/*  footer  */
	.footer{width:1000px; margin:0 auto;}
	.footer li{float: left; width:24.5%; height: 86px; font-size: 14px;}
	.footer ul li p{display: block; color: #FFF; margin-top:10px; } 
	.footer ul li:last-of-type{width:26.5%; height:96px;}
} 

   /* 中屏  1   */
@media only screen and (min-width:720px) and (max-width:1000px){
	.header{width:100%; margin:0 auto;}
	.header .logo{width:17.1%;}
	.header .logo a{width:68.9516129%; margin-right:31.0483871%; padding:10px 0; float:left;}
	.header nav{width:80%; float:left;}
	.header nav ul li{float:left; height:60px; line-height:60px; width:12.5%; text-align:center;}
	.header nav ul li a{display:block; color:#fff; font-size:1.4em;}
	.header nav ul li a:hover{background:#5c5c5c;}
	.header nav ul li.active{width:10.83%;}
	.header nav ul li.active a{display:block; background:#5c5c5c; text-align: center; padding:0;}
	.Biaoyu,.pop_menu,.nav{display:none;}
	
	.service>h2,.course>h2,.campus>h2,.works>h2,
	.star>h2,.employment>h2{height:40px; line-height:40px; font-size:2.4em;}
	
	   /*  service  */
	.service{width:94%; padding:0 3%;}
	.service ul{padding-left:5%;}
	.service ul li{padding-bottom:0; border-bottom:none;}
	.service li{float:left; width:23.5%; margin-right:0.2%;}
	.service li:nth-of-type(4){margin-right:0;}
	.service li a{display:block; margin-right:8%; float:left; height:60px;}
	.service li div h3{height:60px; line-height:60px; font-size:1.8em;}
	.service li div p{display:none;}
	   /*  course  */
	.course{width:94%; padding:0 3%;}
  	.course ul li{width:33.3%; float:left; margin-bottom:10px; border:none;}
  	.course ul li div{display:none;}
  	
  	    /*  campus  */
   	.campus{width:94%; margin:0 3%;}
  	.campus h2 a{display: none;}
  	.campus li{width:32%; float:left; margin-right:1%;}
  	.campus li:nth-of-type(1),.campus li:nth-of-type(2),
  	.campus li:nth-of-type(3),.campus li:nth-of-type(4){margin-bottom:30px;}
  	.campus li div h3{margin-top:20px;}
	.campus li div p{margin-top: 8px;}
			/*  works  */
	.works{width:94%; margin:0 3%;}
	.works li{width:20%; float:left;}
	.works li img{display: block;}
	.works li div{display: none;}
	     /*  star  */
	.star{width:94%; margin:0 3%;}	
	.star ul li{display:block; float:left; width:32%; margin-right:2%; margin-bottom:8px;}
	.star ul li img{display:block;}
	.star ul li:nth-of-type(3),.star ul li:nth-of-type(6),
	.star ul li:nth-of-type(9),.star ul li:nth-of-type(12){margin-right:0;}
	.star ul li:nth-of-type(10),.star ul li:nth-of-type(11),
	.star ul li:nth-of-type(12){margin-bottom:0;}
	.star ul li:nth-of-type(4),.star ul li:nth-of-type(8){margin-right:2;}
	.star ul li div{display: none;}
	    /*  employment  */
	.employment{width:94%; margin: 0 3% 40px 3%;}
	.employment li{width:32%; float:left; margin-right:2%; margin-bottom:8px;}
	.employment li img{display:block;}
	.employment li:nth-of-type(3),.employment li:nth-of-type(6),
	.employment li:nth-of-type(9),.employment li:nth-of-type(12),
	.employment li:nth-of-type(15),.employment li:nth-of-type(18){margin-right:0;}
	.employment li:nth-of-type(16),.employment li:nth-of-type(17),
	.employment li:nth-of-type(18){margin-bottom:0px;}
		/*  footer  */
	.footer{width:94%; margin:0 3%;}
	.footer li{
		float:left;
	    width:50%;
	    height:86px;
	    font-size:14px;
	}
	
	.footer ul li p{
		display:block;
	    color:#FFF;
	    margin-top:10px;
	}
	.footer ul li:nth-of-type(2) p:last-of-type{padding-left:10px;}
	.footer ul li:last-of-type{height:96px;}
  	
  	
}

   /* 中屏  2 */
@media only screen and (min-width:480px) and (max-width:720px) {
	.header{width:100%; margin:0 auto;}
	.header nav ul li{float:left; height:40px; line-height:40px;}
	.header .logo a{width:68.9516129%; margin-right:31.0483871%; padding:10px 0; float:left;}
	.header nav{display:none;}
	.Biaoyu,.pop_menu{display:inline-block;}
	.Biaoyu{width:40%;}
	
	.service>h2,.course>h2,.campus>h2,.works>h2,
	.star>h2,.employment>h2{height:30px; line-height:30px; font-size:2.4em;}
	
	   /*  service  */
	.service{width:94%; padding:0 3%;}
	.service ul{padding-left:8%;}
	.service ul li{float:left; width:25%; padding-bottom:0; border-bottom:none;}
	.service li:nth-of-type(4){margin-right:0;}
	.service li a{display:block; margin-right:3%; clear:both; width:21%; padding-left:26%;}
	.service li a:nth-of-type(2){width:20%;}
	.service li div{clear:both; width:100%;}
	.service li div h3{height:30px; line-height:30px; font-size:1.6em; width:67%; text-align:center; }
	.service li div p{display:none;}
	   /*  course  */
  	.course{width:94%; padding:0 3%;}
  	.course ul li{width:33.3%; float:left; margin-bottom:10px; border:none;}
  	.course ul li div{display:none;}
  	    /*  campus  */
   	.campus{width:94%; margin:0 3%;}
  	.campus h2 a{display: none;}
  	.campus li{width:49%; float:left; margin-right:2%;}
  	.campus ul li:nth-of-type(3){margin-right:2%;}
  	.campus ul li:nth-of-type(2),.campus ul li:nth-of-type(4),
  	.campus ul li:nth-of-type(6){margin-right:0;}
  	.campus li:nth-of-type(1),.campus li:nth-of-type(2),
  	.campus li:nth-of-type(3),.campus li:nth-of-type(4){margin-bottom:25px;}
  	.campus li div h3{margin-top:20px;}
	.campus li div p{display: none;}
			/*  works  */
	.works{width:94%; margin:0 3%;}
	.works li{width:32%; float:left; margin-right:2%; margin-bottom:6px;}
	.works li:nth-of-type(3),.works li:nth-of-type(6),.works li:nth-of-type(9),
	.works li:nth-of-type(12),.works li:nth-of-type(15),.works li:nth-of-type(18),
	.works li:nth-of-type(20){margin-right:0;}
	.works li>div{display:none;}
	     /*  star  */
	.star{width:94%; margin:0 3%;}	
	.star ul li{display:block; float:left; width:32%; margin-right:2%; margin-bottom:10px;}
	.star ul li img{display:block;}
	.star ul li:nth-of-type(3),.star ul li:nth-of-type(6),
	.star ul li:nth-of-type(9),.star ul li:nth-of-type(12){margin-right:0;}
	.star ul li:nth-of-type(10),.star ul li:nth-of-type(11),
	.star ul li:nth-of-type(12){margin-bottom:0;}
	.star ul li div{display: none;}
	
	    /*  employment  */
	.employment{width:94%; margin: 0 3% 40px 3%;}
	.employment li{width:32%; float:left; margin-right:2%; margin-bottom:10px;}
	.employment li img{display:block;}
	.employment li:nth-of-type(3),.employment li:nth-of-type(6),
	.employment li:nth-of-type(9),.employment li:nth-of-type(12),
	.employment li:nth-of-type(15),.employment li:nth-of-type(18){margin-right:0;}
	.employment li:nth-of-type(16),.employment li:nth-of-type(17),
	.employment li:nth-of-type(18){margin-bottom:0px;}
		/*  footer  */
	.footer{width:94%; margin:0 3%;}
	.footer ul{padding:20px 0;}
	.footer li{
		float:left;
	    width:50%;
	    height:86px;
	    font-size:14px;
	}
	
	.footer ul li p{
		display:block;
	    color:#FFF;
	    margin-top:10px;
	}
	.footer ul li:nth-of-type(2) p:last-of-type{padding-left:10px;}
	.footer ul li:last-of-type{height:129px;}
	
}



   /* 最小屏端 */
@media only screen and (max-width:480px) {
	.header{width:100%; margin:0 auto;}
	.header nav ul li{float:left; height:40px; line-height:40px;}
	.header .logo{width:40%;}
	.header .logo a{width:68%; padding:15px 0 0 0; float:left;}
	.header nav{display:none;}
	.Biaoyu,.pop_menu{display:inline-block;}
	.Biaoyu{width:40%; float:left; font-size:1.8em;}
	
	.service>h2,.course>h2,.campus>h2,.works>h2,
	.star>h2,.employment>h2{height:30px; line-height:30px; font-size:2.4em;}
	
	   /*  service  */
	.service{width:94%; padding:0 3%;}
	.service ul{padding-left:2%;}
	.service ul li{float:left; width:25%; padding-bottom:0; border-bottom:none;}
	.service li:nth-of-type(4){margin-right:0;}
	.service li a{display:block; margin-right:3%; clear:both; width:21%; padding-left:26%;}
	.service li a:nth-of-type(2){width:20%;}
	.service li div{clear:both; width:100%;}
	.service li div h3{height:30px; line-height:30px; font-size:1.6em; width:100%; text-align:center;}
	.service li div p{display:none;}
	
	.service ul li:nth-of-type(1)>a{background:url(../images/service_1_1.jpg) no-repeat 100%;}
	.service ul li:nth-of-type(2)>a{background:url(../images/service_2_1.jpg) no-repeat 86% 100%;}
	.service ul li:nth-of-type(3)>a{background:url(../images/service_3_1.jpg) no-repeat 100%;}
	.service ul li:nth-of-type(4)>a{background:url(../images/service_4_1.jpg) no-repeat 96% 100%;}
	
	.service ul li:nth-of-type(1):hover>a{background:url(../images/service_1_2.jpg) no-repeat 100%;}
	.service ul li:nth-of-type(2):hover>a{background:url(../images/service_2_2.jpg) no-repeat 86% 100%;}
	.service ul li:nth-of-type(3):hover>a{background:url(../images/service_3_2.jpg) no-repeat 100%;}
	.service ul li:nth-of-type(4):hover>a{background:url(../images/service_4_2.jpg) no-repeat 96% 100%;}
	@media only screen and (max-width:300px ) {
		body{overflow-x:visible;}
		.service ul li:nth-of-type(1)>a{background:url(../images/service_1_1.jpg) no-repeat center;}
		.service ul li:nth-of-type(2)>a{background:url(../images/service_2_1.jpg) no-repeat center;}
		.service ul li:nth-of-type(3)>a{background:url(../images/service_3_1.jpg) no-repeat center;}
		.service ul li:nth-of-type(4)>a{background:url(../images/service_4_1.jpg) no-repeat center;}
		
		.service ul li:nth-of-type(1):hover>a{background:url(../images/service_1_2.jpg) no-repeat center;}
		.service ul li:nth-of-type(2):hover>a{background:url(../images/service_2_2.jpg) no-repeat center;}
		.service ul li:nth-of-type(3):hover>a{background:url(../images/service_3_2.jpg) no-repeat center;}
		.service ul li:nth-of-type(4):hover>a{background:url(../images/service_4_2.jpg) no-repeat center;}
	}
	
	   /*  course  */
  	.course{width:94%; padding:0 3%;}
  	.course ul li{width:48%; float:left; margin-right:3%; border:1px solid #ccc; margin-bottom:10px; border:none;}
  	.course ul li:nth-of-type(2),.course ul li:nth-of-type(4),
  	.course ul li:nth-of-type(6),.course ul li:nth-of-type(8){margin-right:0;}
  	.course ul li:nth-of-type(3),.course ul li:nth-of-type(5),
  	.course ul li:nth-of-type(7){clear:both;}
  	.course ul li div{display:none;}
  	    /*  campus  */
   	.campus{width:94%; margin:0 3%;}
  	.campus h2 a{display: none;}
  	.campus li{width:49%; float:left; margin-right:2%;}
  	.campus ul li:nth-of-type(3){margin-right:2%;}
  	.campus ul li:nth-of-type(2),.campus ul li:nth-of-type(4),
  	.campus ul li:nth-of-type(6){margin-right:0;}
  	.campus li:nth-of-type(1),.campus li:nth-of-type(2),
  	.campus li:nth-of-type(3),.campus li:nth-of-type(4){margin-bottom:25px;}
  	.campus li div h3{margin-top:20px;}
	.campus li div p{display: none;}
			/*  works  */
	.works{width:94%; margin:0 3%;}
	.works li{width:32%; float:left; margin-right:2%; margin-bottom:6px;}
	.works li:nth-of-type(3),.works li:nth-of-type(6),.works li:nth-of-type(9),
	.works li:nth-of-type(12),.works li:nth-of-type(15),.works li:nth-of-type(18),
	.works li:nth-of-type(20){margin-right:0;}
	.works li>div{display:none;}
	     /*  star  */
	.star{width:94%; margin:0 3%;}	
	.star ul li{display:block; float:left; width:32%; margin-right:2%; margin-bottom:8px;}
	.star ul li img{display:block;}
	.star ul li:nth-of-type(3),.star ul li:nth-of-type(6),
	.star ul li:nth-of-type(9),.star ul li:nth-of-type(12){margin-right:0;}
	.star ul li:nth-of-type(10),.star ul li:nth-of-type(11),
	.star ul li:nth-of-type(12){margin-bottom:0;}
	.star ul li div{display: none;}
	
	    /*  employment  */
	.employment{width:94%; margin: 0 3% 40px 3%;}
	.employment li{width:32%; float:left; margin-right:2%; margin-bottom:8px;}
	.employment li img{display:block;}
	.employment li:nth-of-type(3),.employment li:nth-of-type(6),
	.employment li:nth-of-type(9),.employment li:nth-of-type(12),
	.employment li:nth-of-type(15),.employment li:nth-of-type(18){margin-right:0;}
	.employment li:nth-of-type(16),.employment li:nth-of-type(17),
	.employment li:nth-of-type(18){margin-bottom:0px;}
		/*  footer  */
	.footer{width:94%; margin:0 3%;}
	.footer ul{padding:20px 0;}
	.footer li{
		padding-left:20%;
	    width:80%;
	    height:86px;
	    font-size:14px;
	}
	.footer ul li p{
		display:block;
	    color:#FFF;
	    margin-top:10px;
	}
	.footer ul li:nth-of-type(2) p:last-of-type{padding-left:10px;}
	.footer ul li:last-of-type{height:96px;}
	
}