@charset "utf-8";
/* CSS Document */
/*CSS reset*/
.container{
	max-width:1000px;
	min-width:400px;
	margin:40px auto 0 auto;
}

.container .main{width:100%; margin:0 auto 178px auto;}
.container .main aside{width:280px; border-right:1px solid #bbb; float:left;}
.container .main aside a{
	width:265px;
	margin-right:15px;
	display:block;
	height:77px;
	line-height:77px;
	border-bottom:3px solid #fff;
	color:#222;
	font-size:24px;
	text-indent:75px;
	}
.container .main aside a:hover{
	border-bottom-color:#fa9634;
}
.container .main aside a:first-of-type{background:url(../images/img_04.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(2){background:url(../images/img_06.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(3){background:url(../images/img_08.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(4){background:url(../images/img_10.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(5){background:url(../images/img_12.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(6){background:url(../images/img_15.jpg) no-repeat 7.5471% center; border-color:#fa9634;}
.container .main aside a:nth-of-type(7){background:url(../images/img_18.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(8){background:url(../images/img_21.jpg) no-repeat 7.5471% center;}
.container .main aside a:last-of-type{background:url(../images/img_24.jpg) no-repeat 7.5471% center;}

.container .main aside a:first-of-type:hover{background:url(../images/img_03.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(2):hover{background:url(../images/img_07.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(3):hover{background:url(../images/img_09.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(4):hover{background:url(../images/img_11.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(5):hover{background:url(../images/img_13.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(6):hover{background:url(../images/img_15.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(7):hover{background:url(../images/img_19.jpg) no-repeat 7.5471% center;}
.container .main aside a:nth-of-type(8):hover{background:url(../images/img_22.jpg) no-repeat 7.5471% center;}
.container .main aside a:last-of-type:hover{background:url(../images/img_25.jpg) no-repeat 7.5471% center;}


.container .main section{
	padding-left:45px;
	width:655px;
	float:left;
}
.container .main section h4{
	font-size: 18px;
	color: #fa9634;	
	font-weight:bold;
	margin-bottom:5px;
}

.container .main section h4:nth-of-type(2),
.container .main section h4:nth-of-type(3),
.container .main section h4:nth-of-type(4){margin-top:5px;}
.container .main section p{
	font-size:16px;
	line-height:30px;
	font-weight:500;
}
.container .main section div{margin-top:13px}
.container .main section div:first-of-type{margin-bottom:24px;}
.container .main section div:last-of-type{margin-bottom:40px;}
.container .main section div img{display: block;}



@media only screen and (min-width:720px ) and (max-width:1000px){
	.container .main{width:96%; padding:0 2%; margin-bottom:90px;}
	.container .main aside{width:28%;}
	.container .main aside a{width:94.696%; padding-right:0.4%; text-indent:34%; font-size:20px;}
	.container .main aside a span{display: none;}
	.container .main section{width:64%; padding-left:6.94%;}
}

@media only screen and (min-width:480px ) and (max-width:720px){
	.container{margin-top:20px;}
	.container .main{width:96%; padding:0 2%; margin-bottom:50px;}
	.container .main aside{width:100%; border:none;  margin-bottom:25px;}
	.container .main aside a{
		width:33%; 
		text-indent:0;
		text-align:center; 
		float:left; 
		margin-right:0; 
		padding-right:0; 
		height:90px; 
		line-height:140px;
		font-size:18px;
		border:0;
	}
	.container .main aside a:first-of-type{background:url(../images/img_04.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(2){background:url(../images/img_06.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(3){background:url(../images/img_08.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(4){background:url(../images/img_10.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(5){background:url(../images/img_12.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(6){background:url(../images/img_15.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(7){background:url(../images/img_18.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(8){background:url(../images/img_21.jpg) no-repeat  center 10px;}
	.container .main aside a:last-of-type{background:url(../images/img_24.jpg) no-repeat  center 10px;}
	
	.container .main aside a:first-of-type:hover{background:url(../images/img_03.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(2):hover{background:url(../images/img_07.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(3):hover{background:url(../images/img_09.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(4):hover{background:url(../images/img_11.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(5):hover{background:url(../images/img_13.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(6):hover{background:url(../images/img_15.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(7):hover{background:url(../images/img_19.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(8):hover{background:url(../images/img_22.jpg) no-repeat  center 10px;}
	.container .main aside a:last-of-type:hover{background:url(../images/img_25.jpg) no-repeat  center 10px;}
	.container .main aside a:hover{color: #FF971C;}
	

	.container .main aside a span{display:none;}
	
	.container .main section{width:100%; padding:0;margin-bottom:44px;}
	.container .main section h4{font-size:18px;}
	.container .main section p{text-indent:32px;}
	
}

@media only screen and (max-width:480px ){
	.container{margin-top:20px;}
	.container .main{width:96%; padding:0 2%; margin-bottom:50px;}
	.container .main aside{width:100%; border:none;  margin-bottom:25px;}
	
	.container .main aside a{
		width:33%; 
		text-indent:0;
		text-align:center; 
		float:left; 
		margin-right:0; 
		padding-right:0; 
		height:90px; 
		line-height:140px;
		font-size:18px;
		border:0;
	}
	.container .main aside a:first-of-type{background:url(../images/img_04.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(2){background:url(../images/img_06.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(3){background:url(../images/img_08.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(4){background:url(../images/img_10.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(5){background:url(../images/img_12.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(6){background:url(../images/img_15.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(7){background:url(../images/img_18.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(8){background:url(../images/img_21.jpg) no-repeat  center 10px;}
	.container .main aside a:last-of-type{background:url(../images/img_24.jpg) no-repeat  center 10px;}
	
	.container .main aside a:first-of-type:hover{background:url(../images/img_03.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(2):hover{background:url(../images/img_07.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(3):hover{background:url(../images/img_09.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(4):hover{background:url(../images/img_11.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(5):hover{background:url(../images/img_13.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(6):hover{background:url(../images/img_15.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(7):hover{background:url(../images/img_19.jpg) no-repeat  center 10px;}
	.container .main aside a:nth-of-type(8):hover{background:url(../images/img_22.jpg) no-repeat  center 10px;}
	.container .main aside a:last-of-type:hover{background:url(../images/img_25.jpg) no-repeat  center 10px;}
	.container .main aside a:hover{color: #FF971C;}
	.container .main aside a span{display:none;}
	
	
	.container .main section{width:100%; padding:0; margin-bottom:44px;}
	.container .main section h4{font-size:16px;}
	.container .main section p{text-indent:32px; font-size: 14px; font-family: "宋体";}
	
	
}